* {
  background-color: #242B2E;
  /* background-image: url('../images/bg.png');*/
  color: white;
}

body {
  background-color: #242B2E;
}

#details {
  margin-top: 70px;
  color: white;
}

/*@media only screen and (max-width: 768px) {
  #details {
    margin-top: 100px;
    color: white;
  }
}*/

@media only screen and (min-width: 768px) {
  #details {
    margin-top: 210px;
    padding-bottom: 30px;
    color: white;
  }
}

#eventpic {
  /* width: 500px;
  height: 300px; */
  width: 100%;
  height: 100%;
  margin-top: 100px;
}

#register {
  background-color: gold;
  color: black;
  height: 50px;
  width: 200px;
  font-size: 20px;
  border-radius: 40px;
  border: none;
  outline:none;
  margin-top: 10px;
}

#register:hover {
     background-color: black;
     color: gold;
}
#livesoon {
  background-color: lightgreen;
  color: black;
  height: 50px;
  width: 200px;
  font-size: 20px;
  border-radius: 40px;
  border: none;
  outline:none;
  margin-top: 10px;
}

#livesoon:hover {
     background-color: black;
     color: lightgreen;
}
u {
  font-size: 30px;
  font-family: 'Fredoka One', cursive;
}

h1 {
  /*font-family: 'Ropa Sans';*/
  font-family: 'Cinzel', serif;
}

h4 {
  font-family: 'Gudea', sans-serif;
  font-size: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
#about {
  margin-top: 30px;
  margin-bottom: 80px;
  color: white;
  font-size: 22px;
  font-family: 'ABeeZee', sans-serif;
}
