<!DOCTYPE html>
{% load static %}
     <title>Dashboard</title>

    {% block head-css %}
      <link href="{% static 'dashboard/css/font-awesome.css' %}" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" href="{% static 'dashboard/css/owl.carousel.min.css' %}" type="text/css" />
      <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap.min.css' %}" />
      <link rel="stylesheet" href="{% static 'dashboard/css/main.css' %}" />
    {% endblock head-css %}

    <div class="container-fluid gtco-banner-area">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1>OSC<span>Hub</span></h1>
            <p>Powered by OSC VIT-AP</p>
            <p>
              Providing a hub for all the users to register for an event, check-in, and even download the Documentation, all in one place!
            </p>

            <a href="{% url 'dashboard:about' %}" id="about">Know more <i class="fa fa-angle-right" aria-hidden="true"></i
            ></a>
          </div>
          <div class="col-md-6">
            <div class="card">
              <img
                class="card-img-top img-fluid home_img"
                src="{% static 'dashboard/images/banner5.png' %}"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid gtco-features" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <h2>
              Explore the Amazing Community!
            </h2>
            <p>
                Join us at the Open Source Community, as we work on projects that are distributed worldwide.
                <br> <br>
                Holding workshops, events, and bringing in speakers to introduce everyone to a new world of possibilities.
            </p>
            <a href="#news">Join us <i class="fa fa-angle-right" aria-hidden="true"></i
            ></a>
          </div>
          <div class="col-lg-8">
            <svg id="bg-services" width="100%" viewBox="0 0 1000 800">
              <defs>
                <linearGradient id="PSgrad_02" x1="64.279%" x2="0%" y1="76.604%" y2="0%" >
                  <stop offset="0%" stop-color="rgb(1,230,248)" stop-opacity="1"></stop>
                  <stop offset="100%" stop-color="rgb(29,62,222)" stop-opacity="1"></stop>
                </linearGradient>
              </defs>
              <path fill-rule="evenodd" opacity="0.102" fill="url(#PSgrad_02)"
                d="M801.878,3.146 L116.381,128.537 C26.052,145.060 -21.235,229.535 9.856,312.073 L159.806,710.157 C184.515,775.753 264.901,810.334 338.020,792.380 L907.021,652.668 C972.912,636.489 1019.383,573.766 1011.301,510.470 L962.013,124.412 C951.950,45.594 881.254,-11.373 801.878,3.146 Z"></path>
            </svg>
            <div class="row">
              <div class="col-md-6" style="padding-top: 75px;">
                <div class="card text-center">
                  <div class="oval">
                    <img
                      class="card-img-top"
                      src="{% static 'dashboard/images/web-design.png' %}"
                      alt=""
                    />
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">Technical Workshops</h3>
                    <p class="card-text">
                      Workshops on various technical concepts to introduce you to frameworks and development tools.
                    </p>
                  </div>
                </div>
                <div class="card text-center">
                  <div class="oval">
                    <img
                      class="card-img-top"
                      src="{% static 'dashboard/images/marketing.png' %}"
                      alt=""
                    />
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">Speakers</h3>
                    <p class="card-text">
                      Speakers from all over the world, providing us with their views regarding the various branches of Open Source.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card text-center">
                  <div class="oval">
                    <img class="card-img-top" src="{% static 'dashboard/images/seo.png' %}" alt="" />
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">Challenging Events</h3>
                    <p class="card-text">
                      Events which help you sharpen your skill set in testing and debugging, ideating and hacking.
                    </p>
                  </div>
                </div>
                <div class="card text-center">
                  <div class="oval">
                    <img
                      class="card-img-top"
                      src="{% static 'dashboard/images/graphics-design.png' %}"
                      alt=""
                    />
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">Project Contributions</h3>
                    <p class="card-text">
                      Be a part of the club in the projects taken up by the Technical Team!
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

          <!--        numbers block           -->
    <div class="container-fluid gtco-numbers-block">
      <div class="container">
        <svg width="100%" viewBox="0 0 1600 400">
          <defs>
            <linearGradient id="PSgrad_03" x1="80.279%" x2="0%" y2="0%">
              <stop offset="0%" stop-color="rgb(1,230,248)" stop-opacity="1"></stop>
              <stop offset="100%" stop-color="rgb(29,62,222)" stop-opacity="1"></stop>
            </linearGradient>
          </defs>

          <path
            fill-rule="evenodd"
            fill="url(#PSgrad_03)"
            d="M98.891,386.002 L1527.942,380.805 C1581.806,380.610 1599.093,335.367 1570.005,284.353 L1480.254,126.948 C1458.704,89.153 1408.314,59.820 1366.025,57.550 L298.504,0.261 C238.784,-2.944 166.619,25.419 138.312,70.265 L16.944,262.546 C-24.214,327.750 12.103,386.317 98.891,386.002 Z"
          ></path>

          <clipPath id="ctm" fill="none">
            <path
              d="M98.891,386.002 L1527.942,380.805 C1581.806,380.610 1599.093,335.367 1570.005,284.353 L1480.254,126.948 C1458.704,89.153 1408.314,59.820 1366.025,57.550 L298.504,0.261 C238.784,-2.944 166.619,25.419 138.312,70.265 L16.944,262.546 C-24.214,327.750 12.103,386.317 98.891,386.002 Z"
            ></path>
          </clipPath>

          <!-- xlink:href for modern browsers, src for IE8- -->
          <image
            clip-path="url(#ctm)"
            xlink:href="{% static 'dashboard/images/word-map.png' %}"
            height="800px"
            width="100%"
            class="svg__image"
          ></image>
        </svg>
        <div class="row">
          <div class="col-sm-0 col-md-3 col-lg-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">125</h5>
                <p class="card-text">Events Conducted</p>
              </div>
            </div>
          </div>
          <div class="col-sm-0 col-md-3 col-lg-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">100+</h5>
                <p class="card-text">Speakers</p>
              </div>
            </div>
          </div>
          <div class="col-sm-0 col-md-3 col-lg-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">80</h5>
                <p class="card-text">Workshops</p>
              </div>
            </div>
          </div>
          <div class="col-sm-0 col-md-3 col-lg-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">1000+</h5>
                <p class="card-text">Students participated</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- --------------------------------current events block------------- -->
    <div class="container-fluid gtco-news" id="news" style="margin-top: 200px;">
      <div class="container">
        <h2>Current Events</h2>
          {% if no_of_current %}
          <div class="owl-carousel owl-carousel2 owl-theme">
          {% for event in current %}
          <div>
            <div class="card text-center">
              <img
                class="card-img-top"
                src="{{event.get_eventLogo}}"
                alt="eventPoster"
                width="280"
                height="280"
              />
              <div class="card-body text-left pr-0 pl-0">
                <h5>{{event.eventName}}</h5>
                <p class="card-text">
                  {{event.eventCaption}}
                </p>
                <a href="{% url 'eventreg:eventDetails' pk=event.pk %}"
                  >EXPLORE <i class="fa fa-angle-right" aria-hidden="true"></i
                ></a>
              </div>
            </div>
          </div>
          {% endfor %}
            </div>
          {% else %}
          <center>
            <div class="owl-carousel owl-carousel2 owl-theme">
               <div class="card text-center">
                   <div class="card-body text-center">
                       <h5>You haven't registered for <br/>any event yet!</h5>
                          <p class="card-text">
                        </p>
                          <a href="/eventreg/eventList/">
                              Go to Events
                             <i class="fa fa-angle-right" aria-hidden="true"></i>
                          </a>
                     </div>
                </div>
            </div>
            </center>
          {% endif %}
      </div>
    </div>
    <!-- --------------------------------upcoming events block------------- -->
    <div class="container-fluid gtco-news" id="news" >
      <div class="container">
        <h2>Upcoming Events</h2>
        {% if no_of_upcoming %}
        <div class="owl-carousel owl-carousel2 owl-theme">
          {% for event in upcoming  %}
          <div>
            <div class="card text-center">
              <img
                class="card-img-top"
                src="{{event.get_eventLogo}}"
                alt="eventPoster"
                width="280"
                height="280"
              />
              <div class="card-body text-left pr-0 pl-0">
                <h5>{{event.eventName}}</h5>
                <p class="card-text">
                  {{event.eventCaption}}
                </p>
                <a href="{% url 'eventreg:eventDetails' pk=event.pk %}"
                  >EXPLORE <i class="fa fa-angle-right" aria-hidden="true"></i
                ></a>
              </div>
            </div>
          </div>
          {% endfor %}
          </div>
          {% else %}
          <center>
            <div class="owl-carousel owl-carousel2 owl-theme">
               <div class="card text-center">
                   <div class="card-body text-center">
                       <h5>You haven't registered for<br/>any event yet!</h5>
                          <p class="card-text">
                        </p>
                          <a href="/eventreg/eventList/">
                              Go to Events
                             <i class="fa fa-angle-right" aria-hidden="true"></i>
                          </a>
                     </div>
                </div>
            </div>
            </center>
          {% endif %}
        </div>
      </div>
  </div>
<!-- -----------------Past events block------------- -->
    <div class="container-fluid gtco-news" id="news" style="margin-bottom: 80px;">
      <div class="container">
        <h2>Past Events</h2>
          {% if no_of_past %}
          <div class="owl-carousel owl-carousel2 owl-theme">
          {% for event in past   %}
          <div>
            <div class="card text-center">
              <img
                class="card-img-top"
                src="{{event.get_eventLogo}}"
                alt="eventPoster"
                width="280"
                height="280"
              />
              <div class="card-body text-left pr-0 pl-0">
                <h5>{{event.eventName}}</h5>
                <p class="card-text">
                  {{event.eventCaption}}
                </p>
                <a href="{% url 'eventreg:eventDetails' pk=event.pk %}"
                  >EXPLORE <i class="fa fa-angle-right" aria-hidden="true"></i
                ></a>
              </div>
            </div>
          </div>
          {% endfor %}
             </div>
          {% else %}
          <center>
            <div class="owl-carousel owl-carousel2 owl-theme">
               <div class="card text-center">
                   <div class="card-body text-center">
                       <h5>You haven't registered for<br/>any event yet!</h5>
                          <p class="card-text">
                        </p>
                          <a href="/eventreg/eventList/">
                              Go to Events
                             <i class="fa fa-angle-right" aria-hidden="true"></i>
                          </a>
                     </div>
                </div>
            </div>
            </center>
          {% endif %}
      </div>
    </div>


    <!-- -------------------------sponsors block------------------ -->
    <h1><center>Meet our Sponsors!</center></h1>
    <div class="container-fluid gtco-logo-area">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-3">
            <img src="{% static 'dashboard/images/logo1.png' %}" class="img-fluid" alt="sponsorLogo" />
          </div>
          <div class="col-md-3 col-sm-3">
            <img src="{% static 'dashboard/images/logo2.png' %}" class="img-fluid" alt="sponsorLogo" />
          </div>
          <div class="col-md-3 col-sm-3">
            <img src="{% static 'dashboard/images/logo3.png' %}" class="img-fluid" alt="sponsorLogo" />
          </div>
          <div class="col-md-3 col-sm-3">
            <img src="{% static 'dashboard/images/logo4.png' %}" class="img-fluid" alt="sponsorLogo" />
          </div>
          <div class="col-md-3 col-sm-3">
            <img src="{% static 'dashboard/images/logo5.png' %}" class="img-fluid" alt="sponsorLogo" />
          </div>
          <div class="col-md-3 col-sm-3">
            <img src="{% static 'dashboard/images/logo1.png' %}" class="img-fluid" alt="sponsorLogo" />
          </div>
          <div class="col-md-3 col-sm-3">
            <img src="{% static 'dashboard/images/logo2.png' %}" class="img-fluid" alt="sponsorLogo" />
          </div>
          <div class="col-md-3 col-sm-3">
            <img src="{% static 'dashboard/images/logo3.png' %}" class="img-fluid" alt="sponsorLogo" />
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'dashboard/js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'dashboard/js/popper.min.js' %}"></script>
    <script src="{% static 'dashboard/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'dashboard/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'dashboard/js/main.js' %}"></script>
