<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
{% load socialaccount %}
    <h1> This will be the DASHBOARD Page </h1>
{% if user.is_authenticated %}
<p> Welcome {{user.first_name }} </p>
<p> email {{user.email }} </p>
<p> reg no {{user.last_name}} </p>
<img scr="{{user.socialaccount_set.all.0.get_avatar_url}}"/>
<a href="accounts/logout/">Sign out</a>
{% else %}
<a href="accounts/google/login/">Sign Up</a>
{% endif %}
</body>
</html>