{% extends 'base.html' %}
{% load static %}
{% block content %}
    <title>OSCHub | Speakers</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.js" ></script>   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 
    <link rel="stylesheet" href="{% static 'dashboard/css/speakers.css' %}">

    <div class="slider owl-carousel">
      {% for speaker in Speakers %}
      <div class="card" >
        <div class="img"> <img src="{{speaker.get_speakerImage}}"  alt=""  /> </div>
        <div class="content">
          <div class="title">{{speaker.speakerName}}</div>
          <div class="sub-title">{{speaker.speakerProfession}}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <script src="https://unpkg.co/gsap@3/dist/gsap.min.js"></script>
  <script src="https://unpkg.com/gsap@3/dist/ScrollTrigger.min.js"></script>
  <script src="{% static 'dashboard/js/speakers.js' %}"></script>
{% endblock %}
{% block footer %}
{% endblock footer %}
