{% extends 'base.html' %}
{% load static %}
{% block content %}
    <title>OSCHub | Speakers</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap"
      rel="stylesheet"
    />
 
    <link rel="stylesheet" href="{% static 'dashboard/css/speakers.css' %}">

    <div id="progg"></div>
    <div id="scroll"></div>
    
    <div class="container">
      {% for speaker in Speakers %}

      <div class="card">
        <div class="imgBx">
              <img src="{{speaker.get_speakerImage}}" alt="speaker-img" >
          </div>
          <div class="content">
              <h2> {{speaker.speakerName}} </h2>
              <h3> {{speaker.speakerProfession}} </h3>
          </div>
      </div>
      {%endfor%}
    </div>

  <script src="https://unpkg.co/gsap@3/dist/gsap.min.js"></script>
  <script src="https://unpkg.com/gsap@3/dist/ScrollTrigger.min.js"></script>
  <script src="{% static 'dashboard/js/speakers.js' %}"></script>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  {% endblock %}
{% block footer %}
{% endblock footer %}

