<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/footer.css' %}">
    <title>Dashboard</title>
</head>
<body>
  <div class="navbar">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand title" href="/dashboard">OSCHub</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a class="redir" href="{% url 'eventreg:eventList' %}">Events</a></li>
              <li><a class="redir" href="#">LiveStreams</a></li>
              <li><a class="redir" href="{% url 'dashboard:speakers' %}">Speakers</a></li>
              <li><a class="redir" href="{% url 'dashboard:about' %}">About</a></li>
              <li><a class="redir" href="{% url 'accounts:profile' %}">Profile</a></li>
            </ul>
        </div>
      </div>
    </nav>
  </div>

    {% block content %}
    {% endblock content %}

    <div class='footer-container'>
      <div class='footer-a'>
        <div class='footer-a-wrapper'>
          <div class='footer-a-items'>
            <h2>About Us</h2>
            <a>Mozilla Community Portal</a>
            <a>Community Participation Guidelines</a>
            <a>EB Openings</a>
            <a>Gallery</a>
          </div>
          <div class='footer-a-items'>
            <h2>Contact Us</h2>
            <a>Contact</a>
            <a>GitHub Organization</a>
            <a>Sponsorships</a>
          </div>
        </div>
        <div class='footer-a-wrapper'>
          <div class='footer-a-items'>
            <h2>Videos</h2>
            <a>Tech Cast Series</a>
            <a>Hacktoberfest 2020</a>
          </div>
          <div class='footer-a-items'>
            <h2>Admin</h2>
            <a>EB Login</a>
            <a>EB Elections</a>
          </div>
        </div>
      </div>
      <section class='social-media'>
        <div class='social-media-wrap'>
          <div class='footer-logo'>
            <a href='' class='social-logo'>
                <img class="img" src="{% static '/dashboard/images/osclogo.png' %}" alt="osclogo" width="240" height="60"/>
            </a>
          </div>
          <small class='website-rights'>Open Source Community: VIT-AP © 2020</small>
          <div class='social-icons'>
            <a class="social-icon-a"><i aria-hidden="true" class="fa fa-facebook" data-toggle="tooltip" title="Facebook"></i></a>
            <a class="social-icon-a"><i aria-hidden="true" class="fa fa-instagram" data-toggle="tooltip" title="Instagram"></i></a>
            <a class="social-icon-a"><i aria-hidden="true" class="fa fa-youtube" data-toggle="tooltip" title="Youtube"></i></a>
            <a class="social-icon-a"><i aria-hidden="true" class="fa fa-linkedin" data-toggle="tooltip" title="LinkedIN"></i></a>
            <a class="social-icon-a"><i aria-hidden="true" class="fa fa-github" data-toggle="tooltip" title="GitHub"></i></a>
          </div>
        </div>
      </section>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</html>