@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  'helvetica' ,sans;
}
html,body{
  display: grid;
  height: 100%;
  background-color: #242b2e;
  overflow: hidden;
}
.slider{
  max-width: 1000px;
  display: flex;
  margin: 10px 260px;
}

.slider .card {
  width: 300px;
  height: 400px;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.slider .card .img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #000;
  -webkit-transition: .5s;
  transition: .5s;
}
.slider .card .img img{
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card:hover img {
  opacity: .4;
  -webkit-transition: .5s;
  transition: .5s;
}

.slider .card .content{
  position: absolute;
  text-align: center;
  align-items: center;
  bottom: 400px;
  left: 0;
  background: transparent;
  width: 100%;
  height: 120px;
  padding: 10px;
  z-index: 5;
  -webkit-transition: .6s;
  transition: .6s;
}

.card .content .title{
  margin: 10px 0;
  padding: 0;
  text-align: center;     
  color:#fff;  
  text-transform: uppercase;
  font-size: 20px;
}
  .card .content .sub-title{
    font-size: 16px;
    line-height: 2;
    color: #fff;
    font-weight: 300;
    display: block;

}

.card:hover .content {
  bottom: 0px;
}

