@import url("https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  display: flex;
  background: #242b2e;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.container {
  position: relative;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  margin-top: 12vh;
  border-radius: 5%;
}

.container .card {
  position: relative;
  width: 250px;
  height: 290px;
  background-color: #D4ECDD;
  margin: 50px 50px;
  padding: 0px 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgb(0, 0, 0, 0.5);
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  border-radius: 10px;
  /* overflow: hidden; */
}

.container .card .imgBx {
  position: relative;
  width: 200px;
  padding: 10px;
  margin-bottom: -50px;
  margin-top: 30px;
  height: 200px;
  top: 0px;
  left: 00px;
  z-index: 1;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  /* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); */
}

.container .card .imgBx img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top right;
  border-radius: 100px;
  box-shadow: 5px 5px 10px #111;
}
.container:hover .card{
  opacity: 0.5;
}
.container .card:hover {
  opacity: 1;
}

.container .card .content {
  position: relative;
  margin-top: 0px;
  padding: 0px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  font-family: 'Scheherazade New', serif;
  /* transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1); */
  transition: 0.3s ease-in-out;
}

.container .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: 60px;
}

.container .card:hover .imgBx {
  margin-top: -170px;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 18px;
}

/* scrollbar css */
::-webkit-scrollbar{
  width: 0;  /*default scroll bar*/
}

#scroll{
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;

  background: rgba(255, 255, 255, 255.0.05);
}

#progg{
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  background: linear-gradient(to top, #dbe6fd,#E6E6E6);
  border-radius: 10px;
}

#progg::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(top top, #008aff,#00ffe7);
  filter: blur(10px);
}

#progg::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(top top, #008aff,#00ffe7);
  filter: blur(30px);
}
