.eventList {
    background-color: #242B2E;
   /* background-color: blue; */
}

.eventLogo {
  height:150px;
  width:100%;
}

.item{
  padding-left:15px;
  padding-right:15px;
  padding-top:45px;
}
.item-card{
  border: 2px solid black;
  transition:0.5s;
  cursor:pointer;
}
.item-card-title{
  font-size:15px;
  transition:1s;
  cursor:pointer;
}
.item-card-title a{
  padding-left:8px;
  font-size:24px;
  transition:1s;
  cursor:pointer;
  color:#12B0E8;
  text-decoration: none;
}
.card-title i:hover{
  transform: scale(1.25) rotate(100deg);
  color:#18d4ca;
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}
p.card-text{
  height:80px;
  color: #f5f2f2;
  padding: 7px;
}

.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
 /* background: rgba(255, 255, 255, 0.1);*/
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
  opacity: 0.3;
  content: '';
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
  transform: scale3d(1, 1, 1);
}

a:hover {
  text-decoration: none;
}