body {
  background-color: #242B2E;
}

.eventList {
    margin-bottom: 30px;
    margin-top: 60px;
    min-height: 80vh;
}
.eventsec_list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.eventsec_card {
  width: 330px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 68px;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #141414;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.eventsec_event_image {
  width: 100%;
  max-width: 328px;
  aspect-ratio: 16/9;
  /* height: 182px; */
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.eventsec_content {
  padding: 11px 16px;
}
.eventsec_top {
  height: 93px;
}
.eventsec_top h2 {
  font-weight: 600;
  font-size: 16px;
  color: #e2e2e2;
  margin-bottom: 8px;
}
.eventsec_top p {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #afafaf;
}
.eventsec_cap{
  text-transform: uppercase;
}
.eventsec_bottom {
  display: flex;
  justify-content: space-between;
}
.eventsec_bottom span {
  margin: auto 0;
  color: #e2e2e2;
}
.eventsec_card span p {
  font-size: 13px;
  display: inline;
  margin-left: 7px;
  color: #e2e2e2;
  margin-top: 10px;
  margin-bottom: 0;
}
.eventsec_bottom a {
  background-color: #3d5aff;
  color: #fff;
  padding: 10px;
  font-size: 13px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}
.eventsec_card_button {
  color: #31343c;
  width: auto;
  border: 1px dashed #6c757d;
  height: 40px;
  padding: 7px 16px 0;
  background-color: transparent;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.25s;
  margin: 10px;
}