*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.2s ease;
  outline: none;
}

body {
  font-family: Sans-Serif;
  background-color: #242b2e;
}

*::before,
*::after {
  content: "";
}

.videostream {
  height: 150vh;
  display: grid;
  place-items: center;
  margin-top: -30vh;
}

.video {
  height: 100%;
  width: 100%;
}

.video-container {
  position: relative;
  width: 90%;
  height: 155%;
  margin: auto;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 50px #000;
}

#checkin {
  background-color: gold;
  color: black;
  height: 50px;
  width: 200px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  border-radius: 40px;
  border: none;
  outline: none;
  margin-right: 10px;
  margin-left: 10px;
}

#documentation {
  background-color: gold;
  color: black;
  height: 50px;
  width: 200px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  border-radius: 40px;
  border: none;
  outline: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

#checkin:hover,
#documentation:hover {
  background-color: black;
  color: gold;
}

u {
  font-size: 35px;
  margin-bottom: 10px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");
#about {
  margin-top: 30px;
  margin-bottom: 80px;
  color: white;
  font-size: 22px;
  font-family: "ABeeZee", sans-serif;
}

#checkin2 {
  background-color: lightgreen;
  color: black;
  height: 50px;
  width: 200px;
  font-size: 20px;
  border-radius: 40px;
  border: none;
  outline: none;
  margin-top: 10px;
}

#checkin2:hover {
  background-color: black;
  color: lightgreen;
}
