{% extends 'base.html' %} {% load static %} {% block content %}
<link
  href="https://fonts.googleapis.com/css2?family=Mukta&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'eventreg/css/eventList.css' %}"
/>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<div class="eventList">
  <div class="container mt-2">
    <div class="eventsec_list">
      {% for event in events %}

      <div class="eventsec_card">
        <img
          class="eventsec_event_image"
          src="{{event.get_eventLogo}}"
          alt="event image"
        />
        <div class="eventsec_content">
          <div class="eventsec_top">
            <h2>{{event.eventName}}</h2>
            <p>
              {{event.eventCaption}}
            </p>
          </div>
          <div class="eventsec_bottom">
            <span> <p>{{ event.eventDate }}</p><p class="eventsec_cap">{{ event.eventStartTime }}</p></span
            ><a href="{% url 'eventreg:eventDetails' pk=event.pk %}" class="eventsec_card_button">Know more</a>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}
