{% extends 'base.html' %}
{% block content %}
    <h1> All the Event details with registrations available here! </h1>
    <h2>Event Details:</h2>
    <p>Id_num: {{event_details.id}}</p>
    <p>Name: {{event_details.eventName}}</p>
    <p>Description: {{event_details.eventDescription}}</p>
    <p>Venue: {{event_details.eventVenue}}</p>
    <p>Date: {{event_details.eventDate}}</p>
    <p>Time: {{event_details.eventStartTime}}</p>
    <p>Speaker: {{event_details.eventSpeaker}}</p>
    <a href="{% url 'eventreg:eventList' %}"><input type="button" value="BACK"></a>
    
{% endblock content %}
