{% extends 'base.html' %}
{% load static  %}
{% block content %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <link rel="stylesheet" href="{% static 'eventreg/css/eventDetail.css' %}">

  <div class="container top">
      <div class="col-sm-7">
        <img
          id="eventpic"
          src="{{event_details.get_eventLogo}}"
        />
      </div>
      <div class="col-sm-4 col-sm-offset-1" id="details">
        <h1>{{ event_details.eventName }}</h1>
        <h4>On {{ event_details.eventDate }}</h4>
        <h4>TIME: {{ event_details.eventStartTime }}</h4>
        <h4>Venue: {{ event_details.eventVenue }}</h4>
        <h4>Speaker: {{ event_details.eventSpeaker }}</h4>
        <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="eventname" value="{{event_details.eventName}}">
            <input id="register" type="submit" name="submit" value="REGISTER" />
        </form>
      </div>
    </div>
    <div class="container down">
      <div class="col-sm-10" id="about">
        <u>About Event</u>
        <br/>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
        <p>{{ event_details.eventDescription }}</p>
      </div>
    </div>
{% endblock content %}
