{% extends 'base.html' %}
{% block content %}
    <h1> All the Event details with registrations available here! </h1>
    <h2>School Details:</h2>
    <p>Id_num: {{event.id}}</p>
    <p>Name: {{event.eventName}}</p>
    <p>Description: {{event.eventDescription}}</p>
    <p>Venue: {{event.eventVenue}}</p>
    <p>Date: {{event.eventDate}}</p>
    <p>Time: {{event.eventTime}}</p>
    <p>Speaker: {{event.eventSpeaker}}</p>
    <a href="{% url 'eventreg:eventList' %}"><input type="button" value="BACK"></a>
{% endblock content %}
