{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=ABeeZee&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Gudea:ital@1&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'eventreg/css/livestreams.css' %}">
    <div class="container">
        <div class="line"></div>
        <div class="embed-container">
            {% block livestream_block %}
            {% endblock livestream_block %}
        </div>
    </div>
    {% block body_block %}
    {% endblock body_block %}
{% endblock content %}